[submodule "external/motion-planners"]
	path = external/motion-planners
	url = https://github.com/caelan/motion-planners
[submodule "external/LEGATO"]
	path = external/LEGATO
	url = https://github.com/UT-HCRL/LEGATO
	branch = lite
	depth = 1
