pkg_resources
setuptools
hydra
pickle
huggingface_hub
wandb
pandas
h5py
matplotlib
icecream
gitdb
tqdm
yourdfpy
coacd
cho_util
numpy
einops
diffusers==0.29.2
warp-lang==1.2.1
curobo==0.7.0
open3d==0.17.0
omegaconf==2.3.0
torch==2.1.2
timm==0.9.11
trimesh==3.20.1
flash_attn==2.5.7
mp_baselines
scipy
pytorch3d==0.7.6
spatialmath-python
